{% extends "layout.jinja2" %}

{% block content %}
<div class='col-12'>
    <div class='crumb'><a href='/' class='crumb__link'>Home</a> -> Badges -> Badge{{ id }}</div>
    <h2>Badge {{ id }}</h2>

    <canvas id="mycanvas" width="1000" height="400"></canvas>
    <div class='space-1rem'></div>

    <h2>Raw Location</h2>
    <div id='location-list'></div>

    <h2>{{ id }} Badge Strength History</h2>
    <div id='strength-list'></div>

    <div class='space-4rem'></div>
    <h2>Tech Notes</h2>
    <ol class='tech-notes'>
        <li>Reading: first_pi_id / first_pi_name are named "first" because any subsequent pi that sends the same data will be ignored.</li>
        <li>Reading: num_readings_last_10_min---Assuming the badges are set to update location every 6 seconds, if all readings are received you will get 100 readings in ten minutes. If you lose some, you will get less.</li>
        <li>Smoothie: Readings arrive at left edge 7 seconds after ingestion</li>
        <li>Smoothie: Readings are smoothed with a Bezier curve for aesthetics</li>
        <li>Raw Location: updates every second and displays most recent RssiReading and its associated location.</li>
        <li>Raw Location: reading.imposter_beacons should be empty.</li>
    </ul>
</div>



<script src="{{request.static_path('stethoscope:static/smoothie.js')}}"></script>
<script src="{{request.static_path('stethoscope:static/badge__smoothie.js')}}"></script>
<script src="{{request.static_path('stethoscope:static/badge__location.js')}}"></script>
<script src="{{request.static_path('stethoscope:static/badge__strength.js')}}"></script>

<script>
    window.onload = initiateBadgeSmoothie('{{ id }}',
                                          '{{ server_time }}',
                                           {{ max_id }})

    window.onload = initiateBadgeLocation('{{ id }}')

    window.onload = initiateBadgeStrength('{{ id }}')

</script>
{% endblock content %}
