{% extends "layout.jinja2" %}

{% block content %}
    <div class='col-12'>
        <div class='crumb'>Home</div>
    </div>
    <div class='col-6'>
        <h2>Active Badges</h2>
        {% for badge_id in active_badge_ids %}
            <a href='/badges/{{ badge_id }}' class='link active-badge'>
                Badge {{ badge_id }}
            </a>
        {% endfor %}
    </div>

    <div class='col-6'>
        <h2>Active Pis</h2>
        {% for pi_id in active_pi_ids %}
            <div class='active-pi'>{{ pi_id }}</div>
        {% endfor %}
    </div>



    <div class='col-12'>
        <div class='space-2rem'></div>
        <h2>Training</h2>
        <a class='link' href='/training_runs'>Training Runs</a>

        <div class='space-2rem'></div>
        <h2>RSSI Readings</h2>
        <a class='link' href='/api-docs/rssi_readings'>API Docs</a>
        <a class='link' href='/rssi_readings'>View Raw Data</a>

        <div class='space-2rem'></div>
        <h2>Location</h2>
        <a class='link' href='/api-docs/location'>API Docs</a>
    </div>
{% endblock content %}
