body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #732; /*#660000; */
  background: #f2eaea;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
p {
  font-weight: 300;
}


.banner
{
  color: #d8adaf;
  background: #a80006;
}

.font-normal {
  font-weight: 400;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}

.link.inline
{
  display: inline;
}

.link
{
  display: block;
}

.content {
  margin-left: 10px;
}

.crumb
{
  font-size: 1.2rem;
  margin-top: 0.6rem;
}

.link, .crumb__link
{
  color: #a80006;
  text-decoration: underline;
}
.link:hover, .crumb__link:hover
{
  color: #881111;
  text-decoration: underline;
}

.footer {
  margin-top: 10rem;
  font-size: 0.9rem;
  //color: #f2b7bd;
}


.table__td
{
  padding: 1rem;
  border: 1px solid white;
}

.table .beacon
{
}

.table .beacon__id
{
  display: inline;
}

.table .beacon__strength
{
  display: inline;
}

div.smoothie-chart-tooltip span {
  position: relative;
  top: -3rem; /* Move upward to take place on hidden timestamp */
}

div.smoothie-chart-tooltip {
  background: black;
  padding: 1em;
  margin-top: 20px;
  font-family: consolas;
  color: white;
  font-size: 1.3rem;
  pointer-events: none;
}


.space-1rem{ height: 1rem; }
.space-2rem{ height: 2rem; }
.space-3rem{ height: 3rem; }
.space-4rem{ height: 4rem; }
.space-5rem{ height: 5rem; }





/*
@media (max-width: 1199px) {
  .content h1 {
    font-size: 45px;
  }
  .content h1 .smaller {
    font-size: 30px;
  }
  .content .lead {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  {
    margin-top: 0;
  }
  .logo {
    margin: 40px auto;
  }
  .content {
    margin-left: 0;
    text-align: center;
  }
  .content h1 {
    margin-bottom: 20px;
  }
  .links {
    float: none;
    text-align: center;
    margin-top: 60px;
  }
  .copyright {
    float: none;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .content h1 .smaller {
    font-size: 25px;
    display: block;
  }
  .content .lead {
    font-size: 16px;
  }
  .links {
    margin-top: 40px;
  }
  .links ul li {
    display: block;
    margin: 0;
  }
  .links ul li .icon-muted {
    display: none;
  }
  .copyright {
    margin-top: 20px;
  }
}
*/
