.hidden
{
  opacity: 0;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #732; /*#660000; */
  background: #f2eaea;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
p {
  font-weight: 300;
}


.banner, .h3_banner
{
  color: #d8adaf;
  background: #a80006;
}

.h3_banner
{
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.font-normal {
  font-weight: 400;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}

.link.inline
{
  display: inline;
}

.link
{
  display: block;
}

.content {
  margin-left: 10px;
}

.crumb
{
  font-size: 1.2rem;
  margin-top: 0.6rem;
}

.link, .crumb__link
{
  color: #a80006;
  text-decoration: underline;
}
.link:hover, .crumb__link:hover
{
  color: #881111;
  text-decoration: underline;
}

.footer {
  margin-top: 10rem;
  font-size: 0.9rem;
  //color: #f2b7bd;
}


.table__tr_stripe
{
  background: #edd;
}


/* Override bootstrap borders */
table .table__td,
table .table__th,
table .table__tr
{
  border: none;
}

table .table__td, table .table__tr
{
  padding: 1rem;
}

.table__td_total
{
  font-weight: bold;
}

.table .beacon
{
}

.table .beacon__id
{
  display: inline;
}

.table .beacon__strength
{
  display: inline;
}

.list-of-checkboxes
{
  padding-left: 0.65rem;
}

.room-selector
{
  /* align text with h3 above */
  padding-left: 0.3rem;
}

div.smoothie-chart-tooltip span {
  position: relative;
  top: -3rem; /* Move upward to take place on hidden timestamp */
}

div.smoothie-chart-tooltip {
  background: black;
  padding: 1em;
  margin-top: 20px;
  font-family: consolas;
  color: white;
  font-size: 1.3rem;
  pointer-events: none;
}

.error-message, .success-message
{
  font-weight: bold;
}

.error-message
{
  color: green;
}



.start-button
{
  box-shadow: 0.1rem 0.1rem #a77 !important;
}


/* Use #body to get enough specifity to trump bootstrap */
#body .start-button:active
{
  background: #801;
  color: white;
}

.start-button, .start-button:focus
{
  font-size: 3rem;
  width: 100%;
  background: white;
  border: 1px solid #a80006;
  color: #a80006;
}

.start-button:hover
{
  background-color: #a80006;
  color: white;
}

.start-button_running, .start-button_running:focus
{
  background-color: #ebb;
  background-color: #dfd;
}

.start-button_running:hover
{
  background-color: #a80006;
  color: white;
}


.training-run-cancel
{
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 0.5rem;
}




.space-1rem{ height: 1rem; }
.space-2rem{ height: 2rem; }
.space-3rem{ height: 3rem; }
.space-4rem{ height: 4rem; }
.space-5rem{ height: 5rem; }


.room-and-action
{
  height: 20rem;
}



/*
@media (max-width: 1199px) {
  .content h1 {
    font-size: 45px;
  }
  .content h1 .smaller {
    font-size: 30px;
  }
  .content .lead {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  {
    margin-top: 0;
  }
  .logo {
    margin: 40px auto;
  }
  .content {
    margin-left: 0;
    text-align: center;
  }
  .content h1 {
    margin-bottom: 20px;
  }
  .links {
    float: none;
    text-align: center;
    margin-top: 60px;
  }
  .copyright {
    float: none;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .content h1 .smaller {
    font-size: 25px;
    display: block;
  }
  .content .lead {
    font-size: 16px;
  }
  .links {
    margin-top: 40px;
  }
  .links ul li {
    display: block;
    margin: 0;
  }
  .links ul li .icon-muted {
    display: none;
  }
  .copyright {
    margin-top: 20px;
  }
}
*/
