[Unit]
Description=Stethoscope
Wants=network.target
Wants=postgresql.service
Wants=redis-server.service

[Service]
Type=simple
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/stethoscope
Environment='TZ=America/Los_Angeles'
Environment='POST_TO_SLACK=1'

ExecStart=/home/ubuntu/stethoscope/env/bin/pserve production.ini

TimeoutSec=30
RestartSec=15s
Restart=always

[Install]
WantedBy=multi-user.target

